body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.upload-form {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.upload-form input[type="file"] {
  margin: 10px 0;
  width: calc(100% - 40px);
  width: calc(100% - 40px); 
  box-sizing: border-box; 
}

.video-player video {
  display: block; 
  max-width: 100%; 
  height: auto; 
  border-radius: 5px; 
}


@media screen and (max-width: 414px) {
  .container {
    padding: 10px; 
  }

  .upload-form input[type="file"] {
    width: calc(100% - 20px); 
  }

  .video-player {
    margin: 0 10px;
  }
}
  
